[client-server]
socket = /scratch/SynchWebDevEnvWS/server/mariadb/run/mariadb.sock

[client]
default-character-set = utf8

[server]
collation-server = utf8_unicode_ci
character-set-filesystem = utf8
character-set-server = utf8
skip-character-set-client-handshake # Ensures collation_connection is utf8_unicode_ci
datadir = /scratch/SynchWebDevEnvWS/server/mariadb/data
default-time-zone = +00:00 # UTC/GMT
open_files_limit = 4096
lc_messages_dir = /dls_sw/dasc/mariadb-server/10.3.10/share/english

# Enable networking but bind to local for remote access by SSH only
bind-address = 127.0.0.1

# Disable symbolic-links to prevent assorted security risks
symbolic-links = false

pid_file = /scratch/SynchWebDevEnvWS/server/mariadb/run/mariadb.pid

general_log
general_log_file = /scratch/SynchWebDevEnvWS/server/mariadb/logs/mariadb.log
slow_query_log_file = /scratch/SynchWebDevEnvWS/server/mariadb/logs/slow_query.log
log_error = /scratch/SynchWebDevEnvWS/server/mariadb/logs/error.log
